*{
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

/* Logo */
.logo img{
    float: left;
    width: 15%;
    margin-top: 40px;
    margin-left: 50px;
}

/* Main Menu */
.header {
    height: 140px;
    background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
}
.main_menu{
    display: flex;
    justify-content: flex-end;
    padding-right: 60px;
    margin-bottom: 50px;
}

.main_menu a{
    text-decoration: none;
    color: darkslategray;
    font-weight: 400;
}
.main_menu li{
    list-style: none;
    margin-right: 10px;
    width: 140px;
    margin-top: 5%;
    box-shadow: 10px 10px 10px grey;
    font-family: monospace;
    border-radius: 100px;
    text-align: center;
}
.main_menu li:hover{
    transition-duration: 0.8s;
    box-shadow: 4px 5px 50px grey;
}
.main_menu p{
    font-size: 18px;
}

/* Wrapper */

.wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    height: 100%;
}

/* Content */

.content {
    width: 60%;
    margin: 100px auto 0;
    flex: 1 0 auto;
}

/* Main Page */

.info {
    display: flex;
    font-family: monospace;
    width: 80%;
    margin: 80px auto 0;
    box-shadow: -5px 15px 10px skyblue;
    align-items: center;
    border-radius: 200px;
    outline: 1px red solid;
}
.description {
    font-size: 35px;
    margin: 0 auto;
    text-align: right;
}
.names {
    box-shadow: -5px 15px 10px skyblue;
    border-radius: 200px;
    padding: 10px 20px;
    letter-spacing: 3px;
}
.desc {
    width: 100%;
    font-weight: 600;
    color: dodgerblue;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0px 0px 0px skyblue;
    border-radius: 200px;
}
.desc li {
    margin-bottom: 10px;
    font-style: normal;
    box-shadow: 5px 3px 10px grey;
    font-size: 25px;
    padding: 5px;
    font-family: monospace;
    border-radius: 200px;
    letter-spacing: 2px;
}

/* Footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    font-size: 15px;
    font-family: monospace;
    background-color: antiquewhite;
    flex: 0 0 auto;
}