{% extends 'layout.html' %}

{% block main_page %}
<div class="wrapper">
    <div class="info">

        <div class="description">
            <p class="names">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="desc">
            <ul>
                <li><a href="#">Lorem</a></li>
                <li><a href="#">Lorem</a></li>
                <li><a href="#">Lorem</a></li>
                <li><a href="#">Lorem</a></li>
                <li><a href="#">Lorem</a></li>
                <li><a href="#">Lorem</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock main_page %}