<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block title %}

        {% if title %}
            <title>Flask - {{ title }}</title>
            {% else %}
            <title>Flask Blog</title>
        {% endif %}

    {% endblock title %}
</head>
<body>


<div class="wrapper">

{% block menu %}
<header class="header">
    <div class="logo">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
    </div>
    <ul class="main_menu">
        <li><a href="#"><p>Post</p></a></li>
        <li><a href="#"><p>Comment</p></a></li>
        <li><a href="#"><p>User</p></a></li>
    </ul>

</header>
{% endblock menu %}

{% block content %}
{% endblock content %}

{% block main_page %}
    <div class="content">

    </div>
{% endblock main_page %}

{% block footer %}
    <footer class="footer">
        &#169; All rights reserved 2023<br>
        by Syrymbetov Amir
    </footer>
{% endblock footer %}
</div>


</body>
</html>